<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>realtime message example</title>
    <link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css " rel="stylesheet">
    <link href="{{ '/static/css/style.css' }} " rel="stylesheet">
    <link href="{{ '/static/css/header.css' }} " rel="stylesheet">
    <link href="{{ '/static/css/index.css' }} " rel="stylesheet">
    <link href="{{ '/static/css/login.css' }} " rel="stylesheet">
</head>
<body>


{% block header %}{% endblock %}


{% block body %}{% endblock %}

<footer>
    {% block footer %}{% endblock %}
</footer>

<!-- Load JS here for greater good ==== {{ '/static/js/message.js' }} =========================-->
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.min.js" type="text/javascript"></script>

<script src="" type="text/javascript"></script>

</body>
</html>
